<div>
  <nav class="navbar navbar-expand navbar-light bg-info">
    <a class="navbar-brand" style="margin-left: 20px">Sport</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="api/sport/main" class="nav-link">Главная</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
          Редактирование
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="api/sport">Спорт</a></li>
          <li><a class="dropdown-item" routerLink="api/team">Команды</a></li>
          <li><a class="dropdown-item" routerLink="api/sportsmen">Игроки</a></li>
        </ul>
      </li>
    </div>
  </nav>
</div>
<div class="mt-3" style="width: 87%; margin-right: auto; margin-left: auto">  <!--container-->
  <router-outlet></router-outlet>
</div>
