<li *ngFor="let sport of sports; let i = index">
  <button (click)="hidden_item[sport.id] = !hidden_item[sport.id]">Click</button>
  <p> {{ sport.name }} </p>
  <div [hidden]="!hidden_item[sport.id]">
    Команды:
    <div *ngFor="let team of sport['teams']; let i = index">
      {{team.name}}
    </div>
    Спортсмены:
    <div *ngFor="let sportsman of sport['sportsmen']; let i = index">
      {{sportsman.lastName}}
      <button (click)="hidden_sportsman_data[sportsman.id] = !hidden_sportsman_data[sportsman.id]">Click</button>
      <div [hidden]="!hidden_sportsman_data[sportsman.id]">
        Контакты:
        <div *ngFor="let contact of sportsman['contacts']">
          {{contact.phone}}
        </div>
        Достижения:
        <div *ngFor="let ach of sportsman['achievements']">
          {{ach.name}}
        </div>
      </div>
    </div>
  </div>
  <hr/>
</li>
